.main-header {
  padding-top: 50px;
}

.sub-heading {
  color: #4e4e4e;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

p {
  font-size: 16px;
}

.list-group-item {
  border-left: 0;
  border-right: 0;
}

.media-left {
  vertical-align: middle;
}

/* .checkout-summary-wrapper {
  display: flex;
} */

.checkout-summary-prices {
  display: inline-block;
}

.checkout-summary-prices + .checkout-summary-prices {
  padding-left: 45px;
}
