.carousel .item {
  height: 385px;
}

#item-1 {
  background: url("./img/carousel-img-1.jpeg");
  background-size: cover;
  background-position-y: 50%;
}

#item-2 {
  background: url("./img/carousel-img-1.jpeg");
  background-size: cover;
  background-position-y: 50%;
}

#item-3 {
  background: url("./img/carousel-img-1.jpeg");
  background-size: cover;
  background-position-y: 50%;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
