#facebook:hover,
#facebook:focus {
  color: #4267b2;
}

#twitter:hover,
#twitter:focus {
  color: #38a1f3;
}

#twitter,
#facebook {
  font-size: 20px;
}

.navbar-inverse {
  background-color: #000;
}

.nav-item {
  font-size: 16px;
}

#basic-nav-dropdown {
  position: relative;
}

.dropdown {
  font-size: 16px;
}

.dropdown-menu {
  width: 500px;
  position: absolute;
  top: 55px;
  background-color: #000;
}

.dropdown-menu li.nav-item {
  color: #9d9d9d;
}

.dropdown-menu li.nav-item:hover {
  color: #fff;
}

#navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.nav-item {
  margin: 0 5px 5px 5px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 800px) {
  .social {
    display: inline-block !important;
    padding-left: 5px;
  }

  .dropdown-menu {
    margin-left: 15px;
  }
}
