.checkout-btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inner-btn {
  display: block;
  font-size: 17px;
  font-weight: 800;
  margin-top: -13px;
}
