.watch-list {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
}

.button-group {
  float: right;
  padding-bottom: 7px;
}

.button-group:last-child {
  margin-right: 15px;
}
/* .thumbnail img {
  height: 150px !important;
} */
