.thumbnail {
  padding-top: 20px;
}

.thumbnail img {
  height: 150px !important;
  position: relative;
}

.thumbnail h4 {
  position: absolute;
  top: 0;
  left: 10;
}

.thumbnail span {
  /* font-weight: bold; */
}

.thumbnail .item-details-wrapper {
  /* text-align: left; */
  /* padding: 0 2rem; */
  padding-right: 10%;
  padding-left: 10%;
}

.thumbnail .item-price {
  text-align: left;
  color: #428bca;
  font-size: 2rem;
}

.thumbnail .item-details {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  padding-top: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.6;
  /* margin-right: 25px; */
  text-align: justify;
}

.thumbnail .item-name {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.thumbnail .added-to-cart {
  width: 40px;
  position: absolute;
  top: -45px;
  left: 30px;
}

.thumbnail .add-to-cart-btn {
  width: 80%;
  font-size: 12.5px;
  border-radius: 3px;
}
