#facebook:hover,
#facebook:focus {
  color: #4267b2;
}

#twitter:hover,
#twitter:focus {
  color: #38a1f3;
}

#twitter,
#facebook {
  font-size: 20px;
}

.nav-item {
  font-size: 16px;
}

#basic-nav-dropdown {
  /* position: relative; */
}

.dropdown-menu {
  /* width: 350px; */
  width: 450px;
  /* position: absolute; */
  top: 51px;
  left: 0px !important;
  display: flex;
  flex-wrap: wrap;
}

.dropdown-menu li {
  flex: 1 50%;
}
