#facebook:hover,
#facebook:focus {
  color: #4267b2;
}

#twitter:hover,
#twitter:focus {
  color: #38a1f3;
}

#twitter,
#facebook {
  font-size: 20px;
}

.nav-item {
  font-size: 16px;
}
