:root {
  --primary-color: #428bca;
  --primary-dark-text: #4e4e4e;
  --white-background: #fdfdfd;
}
/* new test */
body {
  color: var(--primary-dark-text);
  background: var(--white-background);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
