:root {
  --primary-dark-text: #4e4e4e;
  --white-background: #fff;
}

body {
  color: var(--primary-dark-text);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
